.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 600px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
    margin: 80px;
    row-gap: 100px;
    /* column-gap: 100px; */
}

