.container{
    display: grid; 
    /* grid-template-columns: 8rem 2fr 1fr 2fr 8rem; */
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

.middle{
    /* grid-column: 3/4;
    align-items: center;
    justify-content: center; */
    text-align: center;
}

.button{
    align-items: center;
    justify-content:center;
    background-color: blueviolet;
    color: antiquewhite;
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    
}

#left{
    /* align-items: center;
    justify-content: center; */
    margin-top: 100px;
    grid-column: auto;
    height: 400px;
}
#right{

    /* justify-content: flex-end;
    align-items: center; */
    margin-top: 100px;
    /* grid-column: 4/5;  */
    height: 440px;
}


#image{
    height: 100px;
    width: 100px;
}